.login {
  text-align: center;
}

.btn-amazon{color:#fff;background-color:#000;border-color:rgba(0,0,0,0.2)}.btn-amazon:focus,.btn-amazon.focus{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-amazon:hover{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-amazon:active,.btn-amazon.active,.open>.dropdown-toggle.btn-amazon{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-amazon:active:hover,.btn-amazon.active:hover,.open>.dropdown-toggle.btn-amazon:hover,.btn-amazon:active:focus,.btn-amazon.active:focus,.open>.dropdown-toggle.btn-amazon:focus,.btn-amazon:active.focus,.btn-amazon.active.focus,.open>.dropdown-toggle.btn-amazon.focus{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-amazon:active,.btn-amazon.active,.open>.dropdown-toggle.btn-amazon{background-image:none}
.btn-amazon.disabled:hover,.btn-amazon[disabled]:hover,fieldset[disabled] .btn-amazon:hover,.btn-amazon.disabled:focus,.btn-amazon[disabled]:focus,fieldset[disabled] .btn-amazon:focus,.btn-amazon.disabled.focus,.btn-amazon[disabled].focus,fieldset[disabled] .btn-amazon.focus{background-color:#000;border-color:rgba(0,0,0,0.2)}
.btn-amazon .badge{color:#000;background-color:#fff}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap {
  height: 100px;
  position: relative;
}
h2.centre-line {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}
h2.centre-line:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  z-index: -1;
  background:lightgray;
}
h2.centre-line span {
  background-color: white;
  padding: 1rem;
  display: inline-block;
  font-size: small;
}

body {
  text-align: center;
  background: #fcfcfa;
  color: #818078;
  font-family: Futura, sans-serif;
}

.container {
  max-width: 50%;  
  margin: 40px auto;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}